header {
  width: 100%;
  display: inline;
  background-color: #5b7989;
  color: white;
  float: left;
  text-shadow: 2px 2px 2px #02010a;
  border-radius: 10px 10px 0 0;
}

@media screen {
  #menu {
    text-align: right;
  }
  a {
    text-decoration:underline;
  }

  .actual {
    text-decoration: none;
  }
}

#central {
  width: 100%;
  background-color: #82c3a6;
  margin: 0px auto;
  display: block;
}

#central img {
  width: 80%;
  margin: 0px auto;
  display: block;
}

@media screen and (max-width:600px) {
  #contenedor1{
    width: 100%;
    background-color: #d5c75f;
  }
  #secundaria {
    width: 80%;
    margin: 0 auto;
  }
  .segunda {
    width: 100%;
  }
  .segunda img {
    width: 100%;
  }
  .tercera {
    width: 100%;
  }
  .tercera img {
    width: 100%;
  }
}
@media screen and (min-width:601px) {
  #contenedor1{
    width: 100%;
    background-color: #d5c75f;
  }
  #secundaria {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
  }
  .segunda {
    width: 50%;
  }
  .segunda img {
    width: 100%;
  }
  .tercera {
    width: 50%
  }
  .tercera img {
    width: 100%;
  }
}

@-webkit-keyframes animacion-paisajes {
  from {
    border: 0.01 solid black;
    box-shadow: 0px 0px 0px #d5c75f;
    transform: rotateZ(0deg);
  }
  to {
    border: 2px;
    box-shadow: 4px 4px 4px #82c3a6;
    transform: rotateZ(10deg);
  }
}
.segunda img:hover {
  animation-name: animacion-paisajes;
  animation-duration: 2s;
}
