body {
  font-family: Dancing Script;
  background-color: #02010a;
}

header {
  width: 100%;
  background-color: #5b7989;
  color: white;
  text-shadow: 2px 2px 2px #02010a;
  border-radius: 10px 10px 0 0;
}

#central {
  width:100%;
  background-color: #82c3a6;

}
#primera {
  width: 70%;
  margin: 0 auto;
  padding: 2%;
}
.imagen1 {
  width: 100%;
}

.imagen1 img{
  width: 100%;
  box-shadow:2px 2px 2px #01020a;
}
.segunda img{
  box-shadow:2px 2px 2px #01020a;
}
.tercera img {
  box-shadow:2px 2px 2px #01020a;
}
#contenedor1 img {
  box-shadow:2px 2px 2px #01020a;
}

.paisaje1 {
  -webkit-filter:blur(10px);
  filter: blur(10px)
}
.paisaje2 {
  -webkit-filter:grayscale(100%);
  filter: grayscale(100%);
}
.paisaje3 {
  -webkit-filter:sepia(90%);
  filter: sepia(90%);
}
.paisaje4 {
  -webkit-filter:grayscale(100%);
  filter: grayscale(100%);
}
.paisaje6 {
  -webkit-filter:grayscale(100%);
  filter: grayscale(100%);
}

#menu {
  text-align: right;
  font-size:20px;
  background-color: #5b7989;
}
  a {
    text-decoration:underline;
    color: white;
  }

  .actual {
    text-decoration: none;
    color: white;
  }
  a:visited {
    color:cyan;
  }
#contenedor1 {
  flex-wrap: ;
}
#pie > div {
  width: 25%;
}

@media screen and (max-width:900px) {
  header {
    text-align: center;
  }
  #menu {
    text-align: center;
  }
  text-align: right;
  #contenido {
    width: 100%
  }
  #contenedor1{
    width: 100%;
    background-color: #d5c75f;
  }
  #secundaria {
    width: 80%;
    margin: 0 auto;
  }
    .segunda {
      width: 100%;
      padding: 2%;
    }
    .segunda img {
      width: 100%;
    }
    .tercera {
      width: 100%;
      padding: 2%;
    }
    .tercera img {
      width: 100%;
    }
    .paisaje1 {
      width:100%;
    }
    .paisaje1 img {
      width: 100%
    }
    .paisaje2 {
      width:100%;
    }
    .paisaje2 img{
      width:100%;
    }
    .paisaje3 {
      width:100%;
    }
    .paisaje3 img{
      width:100%;
    }
    .paisaje4 {
      width:100%;
    }
    .paisaje4 img{
      width:100%;
    }
    .paisaje5 {
      width:100%;
    }
    .paisaje5 img{
      width:100%;
    }
    .paisaje6 {
      width:100%;
      }
    .paisaje6 img{
      width:100%;
    }
  #pie {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
    .contacto {
      width: 100%;
    }
    .terminos {
      width: 100%;
    }
    .redes {
      width: 100%;
    }
    .derechos {
      width: 100%;
    }
}
@media screen and (min-width:901px) {
  header {
    text-align: left;
  }
  #menu {
    text-align: right;
  }
  #contenido {
    width: 900px;
    margin: 0 auto;
  }
  #contenedor1{
    width: 100%;
    background-color: #d5c75f;
    display: flex;
    flex-flow: row wrap;
  }
  #secundaria {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
  }
  .segunda {
    width: 45%;
    padding: 2%;
  }
  .segunda img {
    width: 100%;
  }
  .tercera {
    width: 45%;
    padding: 2%;
  }
  .tercera img {
    width: 100%;
  }

  .paisaje1 {
    width:30%;
    margin: auto;
    padding: 1%;
  }
  .paisaje1 img {
    width: 100%
  }
  .paisaje2 {
    width:30%;
    margin: auto;
    padding: 1%;
  }
  .paisaje2 img{
    width:100%;
  }
  .paisaje3 {
    width:30%;
    margin: auto;
    padding: 1%;
  }
  .paisaje3 img{
    width:100%;
  }
  .paisaje4 {
    width:30%;
    margin: auto;
    padding: 1%;
  }
  .paisaje4 img{
    width:100%;
  }
  .paisaje5 {
    width:30%;
    margin: auto;
    padding: 1%;
  }
  .paisaje5 img{
    width:100%;
  }
  .paisaje6 {
    width:30%;
    margin: auto;
    padding: 1%;
  }
  .paisaje6 img{
    width:100%;
  }


  #pie {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
    .contacto {
      width: 25%;
    }
    .terminos {
      width: 25%;
    }
    .redes {
      width: 25%;
    }
    .derechos {
      width: 25%;
    }
}

.segunda img {
  border: 0.01 solid black;
  transform: rotateZ(0deg);
  transition-property: border box-shadow transform;
}
.segunda img:hover {
  border: 2px solid black;
  box-shadow: 4px 4px 4px #82c3a6;
  transform: rotateZ(10deg);
}

.tercera img{
  border: 0.01 solid black;
  position: relative;
  left: 0px;
  transition-property: border position box-shadow;
}
.tercera img:hover {
  border: 2px solid black;
  position: relative;
  left: 40px;
  top: -10px;
  box-shadow: 4px 4px 4px #82c3a6;
}
#pie {
  background-color: #C6d5c5;
  border-radius: 0 0 10px 10px;
}

.texto3 {
  display:flex;
  flex-direction: column;
}
.texto3 img{
  vertical-align: middle;
}
@keyframes aparicion {
  0%{
    margin-top: 150%;
  }
  60%{
    margin-top: -5%;
  }
  100%{
    margin-top: 0%;
  }
}
body {
  animation-name: aparicion;
  animation-duration: 1s;
}
